{{ define "main" }}

{{ partial "mathjax.html" }}

<h1>{{ .Title }}</h1>

{{ .Content }}

    {{ if .IsTranslated }}
        <h4>{{ i18n "translations" }}</h4>
        <ul>
            {{ range .Translations }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Lang }}: {{ .Title }}</a>
                </li>
            {{ end }}
          </ul>
    {{ end }}

{{ end }}
