/* -------------------------------------------------------------------------
*   ACE DOCUMENTATION
*   Stylesheet
*   @author Vantage Design
*   @version 1.0.4
*   @license https://github.com/vantagedesign/ace-documentation/blob/master/LICENSE
* ------------------------------------------------------------------------ */

$primary: #00b175;
$secondary: #436092;
$success: #28a745;
$info: #436092;
$warning: #f2cd00;
$danger: #9d4329;
$light: #f8f9fa;
$dark: #343a40;

@import "bootstrap/bootstrap";

/* Typography styling */
.main > h1 {
  padding-top: 2rem;
}

.main > h2 {
  padding-top: 4rem;
  margin-top: -1rem;
}

.main > h3,
.main > h4,
.main > h5,
.main > h6 {
  padding-top: 4rem;
  margin-top: -3rem;
}

.haschildren ul {
  color: gray;
  display: none;
}

.haschildren.active ul,
.haschildren.parent ul {
  display: block;
}

.highlight > pre {
  padding: 15px;
}

/* Side navigation menus */
.docs-sidenav span.badge.badge-primary,
.docs-toc span.badge.badge-primary {
  font-size: 10px;
}

@media (min-width: 768px) {
  .docs-sidenav,
  .docs-toc {
    height: calc(100vh - 4rem);
    top: 4rem;
    position: sticky;
  }
  .docs-sidenav .navbar,
  .docs-toc .navbar {
    padding-right: 0;
  }
  .docs-sidenav .navbar-collapse,
  .docs-sidenav .navbar-nav {
    width: 100%;
  }
  .docs-sidenav .nav-link,
  .docs-toc li a {
    display: flex;
    align-items: start;
    justify-content: initial;
  }
  .docs-sidenav .nav-link > span.badge.badge-primary,
  .docs-toc li a > span.badge.badge-primary {
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .docs-toc.large {
    height: calc(100vh - 4rem);
  }
}

@media (max-width: 1200px) {
  .docs-toc.large {
    display: none;
  }
}

.docs-toc {
  padding-top: 12px;
  font-family: $font-family-base;
}

.docs-toc a {
  font-size: 14px;
  color: gray;
}

.docs-toc a:hover {
  color: #333;
}

.docs-toc ul {
  list-style: none;
  padding-left: 8px;
  margin-top: 3px;
}

.docs-toc ul:first-child {
  padding-left: 0px;
}

/* Table tweak for JavaScript methods */
table td:first-child > code {
  word-break: normal;
}

table {
  caption-side: top;
  border-collapse: collapse;
  width: 100%;
}

td {
  tr:nth-child(even) & {
    background: #f8f8f8;
  }
  tr:last-child & {
    border: solid thin;
    border-right: none;
    border-left: none;
    border-top: none;
  }
  padding: 0.6rem;
}
th {
  font-weight: bold;
  text-align: left;
  border: solid thin;
  border-right: none;
  border-left: none;
  padding: 0.6rem;
}

tbody > tr > td,
.bd-content > table > tbody > tr > th,
.bd-content > table > tfoot > tr > td,
.bd-content > table > tfoot > tr > th,
.bd-content > table > thead > tr > td,
.bd-content > table > thead > tr > th {
  padding: 0.75rem;
  vertical-align: top;
}

.table-subfig.table {
  td {
    padding: 0rem;
    border: none;
    background: #ffffff;
  }
  tr:nth-child(even) {
    text-align: left;
  }
}
