{{ $fig1 := .Get "fig1" }}
{{ $fig2 := .Get "fig2" }}

{{ $ref1 := .Get "ref1" }}
{{ $ref2 := .Get "ref2" }}

<figure>
    <div class="table-subfig table"><table>
        <tr>
            <td><img src="{{ (print $fig1) | markdownify }}" width="90%"></td>
            <td><img src="{{ (print $fig2) | markdownify }}" width="90%"></td>
        </tr><tr>
            <td><a name="{{ (print $ref1) | markdownify }}"></a>A</td>
            <td><a name="{{ (print $ref2) | markdownify }}"></a>B</td>
        </tr>
    </table></div>
</figure>
